.card__country {
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    background: var(--element);
    min-height: 290px;
    margin:auto;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
     opacity: 1;
     transition: ease .5s;
}

.card__country:hover {
    transform: scale(1.03);
}

.card__country img {
    width: 100%;
    height: 135px; 
    margin-top: 0px;
    object-fit: cover;
}

.card__info__country{
    padding: 0px 20px;
}

.card__item--name {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 18px;
}
.link {
    text-decoration: none;
    color:var(--text);
}