.container__country {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 68px;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}


