.container{ 
    width: 90%;
    margin: 20px auto;
    
}
.about__img {
    width: 500px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.container__about {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 2fr));
    /* background: red; */
    justify-content: center;
    margin: auto;
}

@media (max-width: 800px) {
    .about__img {
        width: 100%;
        height: auto;
        margin: auto;

    }
    .container__about {
        /* background: cyan; */
        padding-top: 40px;
        width: 90%;
    }
}

.notFound {
    text-align: center;
    padding-top:20vh;
    width: 100%;
   
}
.word__notFound {
    width: 100px;
    height: 100px;
}

.container__notFound{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__notFound p {
    font-size :60px;
}

@media (max-width: 568px) {
    .about__img {
        width: 20rem;
    }
    
}
