.form {
    background:#FEFEFE;
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 5px;
     -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}
input {
    width: 310px;
    background: none;
    outline: none;
    border: none;
}

.fa-search {
   width: 70px; 
   background: none;
    outline: none;
    border: none;
}

@media (max-width: 667px) {
    .form{
        width: 95%;
    }
}