
.header {
    display: flex;
    align-items: center;
    height: 70px;
    background: var(--element);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    opacity: 1;
    transition: ease .5s;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.btn__dark{
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   color:var(--text);
   font-size: 15px;
}

.btn__dark::before{
    padding: 0px 10px;
}



