.container__description {
    margin-top: 30px;
    
}

.container__description h1 {
    padding: 20px 0px;
}

.description_info p {
    padding: 5px;
}

.description_info p > span {
    font-weight: 800;
}

.container__infoCountry {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background: cadetblue; */
} 

.lenguages {
    display: flex;
    align-items: center;
}
.container__lenguages {
    display: flex;
}

.container__lenguages p {
    margin-left: 5px;
    
}



/* =========================container__borderCountry============ */

.borders {
    margin-top: 50px;
    display: flex;
    width: 600px;
}

.borders p { 
    width: 150px;
}

.borders p > span {
    font-weight: 800;
}

.container__borders {
    display: flex; 
    width: 350px;
    /* background: chartreuse; */
    flex-wrap: wrap;
}

.border__country {
    margin: 0px 5px 15px 5px;
    padding: 8px 8px;
}

/* /===================responsive================== */

@media (max-width: 1000px) {

    .container__description{
        /* background: salmon; */
        width: 100%;
        margin:auto;
    }
   
    .container__infoCountry {
        width: 100%;
        flex-direction: column;
        margin:auto;
        
    }
    .info__left {
        padding: 40px 0;
    }
    .container__borders{
        padding: 20px 0;
        width: 100%;
    }
    .borders {
        flex-direction: column;
        width: 100%;
        /* background: darkgoldenrod; */
    }
}

@media (max-width: 568px) {
    .container__description{
        width: 20rem;
        margin: auto;
    }
}




