.container__description {
    margin-top: 30px;
    
}

.container__description h1 {
    padding: 20px 0px;
}

.description_info p > span {
    font-weight: 800;
}

.container__infoCountry {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
} 

.lenguages {
    display: flex;
    align-items: center;
}
.container__lenguages {
    display: flex;
}

.container__lenguages p {
    margin-left: 5px;
    
}



/* =========================container__borderCountry============ */

.borders {
    margin-top: 50px;
    display: flex;
    width: 600px;
}

.borders p { 
    width: 150px;
}

.borders p > span {
    font-weight: 800;
}

.container__borders {
    display: flex; 
    width: 450px;
    flex-wrap: wrap;
}

.border__country {
    margin: 0px 5px 15px 5px;
    padding: 8px 8px;
}






