.dropdow__menu{
    list-style: none;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: ease .3s;
    background: #FEFEFE;
}
.show {
    height: 190px;
}

.dropdown {
    position: relative;
}

.dropdown__link{
    width: 200px;
    padding: 8px 15px;
    text-align: left;   
}

.dropdown__link:hover {
    cursor: pointer;
    background:#f5f0f0 ;
}
.hover {
    width: 200px;
    padding: 8px 15px;
    text-align: left; 
    
 }
 
.hover:hover {
    cursor: pointer;
    background: #1b2630;
}

.btn__dropdown{
    background: #FEFEFE;
    width: 200px;
    outline: none;
    border: none;
    padding: 20px 15px;
    border: solid 1px #E8EEEE; 
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

@media (max-width: 667px) {
    .dropdown{
        margin-top: 40px;
    }
}