*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
  }

  :root  {
    --element: #fff;
    --background: #fafafa;
    --text: #111517;
    --input: #858585;
    --hover: #f5f3f3;
    --opacity: 0.7;
    --option: rgba(0,0,0,0.1);

  
  } 

body {
    background: var(--background);
    color: var(--text);
    opacity: 1;
    transition: ease .5s;
}

